:root{
  --dark:#101010;
  --light:#f9f9fa;
  --high-dark:#2d2d2d;
  --high-light:#feffff;


  --bg:var(--light);
  --text:var(--dark);
  --high-bg:var(--high-light);

  --text-op-low: color-mix(in srgb, transparent 90%, var(--text));
  --text-op: color-mix(in srgb, transparent 80%, var(--text));
  --text-op-high: color-mix(in srgb, transparent 20%, var(--text));

  --bg-prompt: color-mix(in srgb, transparent 50%, var(--high-bg));

  /* accents */
  --accent-white:var(--dark);
  --accent-green:#008b5d;
  --accent-blue:#007fbd;
  --accent-purple:#625da5;
  --accent-gold:#c98400;
  --accent-pink:#bd556b;
  --accent-red:#cc4a55;
  --accent-orange:#c95125;

  --accent:var(--accent-white);

  --accent-op-10: color-mix(in srgb, var(--accent) 10%, transparent 90%);
  --accent-op-20: color-mix(in srgb, var(--accent) 20%, transparent 80%);
  --accent-op-30: color-mix(in srgb, var(--accent) 30%, transparent 70%);
  --accent-op-40: color-mix(in srgb, var(--accent) 40%, transparent 60%);
  --accent-op-50: color-mix(in srgb, var(--accent) 50%, transparent 50%);

  --current-op-10:color-mix(in srgb, currentColor 10%, transparent 90%);
  --current-op-20:color-mix(in srgb, currentColor 20%, transparent 80%);
  --current-op-30:color-mix(in srgb, currentColor 30%, transparent 70%);
  --current-op-40:color-mix(in srgb, currentColor 40%, transparent 60%);
  --current-op-50:color-mix(in srgb, currentColor 50%, transparent 50%);
  --current-op-80:color-mix(in srgb, currentColor 80%, transparent 20%);
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@media (prefers-color-scheme: light) {
  html {
    --bg: var(--dark) !important;
    --text: var(--light) !important;
    --high-bg: var(--high-dark) !important;
    --accent-white: #fafafa !important;
  }
}

body {
    background:var(--bg);
    color:var(--text);
    font-family: sans-serif;
    height:100;
}

img.blob{
    position:fixed;
    top:0;
    left:0;
    opacity:.1;
    filter:blur(20px);
    z-index: -1;
    height:100%;
    pointer-events: none;
    user-select: none;
}

.prompt-wrap{
  background:var(--high-bg);
  border-radius: 1rem;
  backdrop-filter:blur(15px);

  background: var(--bg-prompt);
  overflow: scroll;


  border-radius: 1.5rem;

  color: var(--text);

  border:1px solid var(--text-op);

  overflow: hidden;

}

textarea, #prompt {
  outline: none;
  border: none;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  background: transparent;
  color:var(--text);
  overflow:hidden;

  white-space: pre-wrap;
}


* {
    scrollbar-width: thin;
  scrollbar-color: var(--text-op) transparent;
  

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--text-op);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--text-op);
  }
}

.assistant{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        max-width: 100px;
        filter:grayscale(90%);
        pointer-events: none;
        user-select: none;
        opacity:.5;
    }

    .accents{
      display: flex;
      align-items: center;
      gap:10px;
      margin:15px 0;
    }

    .accent{
      height:25px;
      width: 25px;
      border-radius: 50%;
      cursor:pointer;

      &.active{
        border: 1px solid var(--bg);
        box-shadow: 0 0 0 2px currentColor;
      }
    }
}

.settings {
  font-size:85%;
  margin-top:1em;
  overflow:hidden;

  b {
    margin: 0 0 0.5rem 0;
    display: block;
    font-size: 1.1em;
    color: var(--text);
  }

  p {
    margin: 0 0 .5em 0;
    opacity: 0.8;
    line-height: 1.4;
  }

  textarea, input[type="text"] {
    background:var(--high-bg);
    outline:none;
    resize:vertical;
    font-family: inherit;
    font-size: 100%;
    border-radius: 10px;
    padding:.5rem;
    width:calc(100% - 1rem);
    min-height:100px;
  }

  input[type="text"]{
    color:var(--text);
    outline:none;
    border:none;
    min-height:unset;
  }
}

.skills label {
  user-select: none;
  padding:5px;
  cursor:pointer;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.10), 0 1.5px 6px 0 rgba(0,0,0,0.08);
  border-radius: 5px;

  display: flex;
  align-items: center;

  background:var(--accent-op-20);
  border:1px solid var(--accent-op-20);

  a.delete{
    font-size:125%;
    margin-left:auto;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      color:var(--accent-red);
    }
  }
  a.delete::before {
    font-family: Material Icons;
    content:'delete_outline';

  }
}

.skills input[type="checkbox"]{
  display: none;
}

.skills .skill-content{
  max-height: 0;
  background:var(--accent-op-10);
  transition: max-height 0.2s ease;
  overflow:scroll;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  flex-direction: column;

  a {
    padding:5px 0;
    font-weight: bold;
  }


  input[type="text"], textarea {
    background:var(--bg-prompt);
    border:1px var(--text-op) solid;
    display: block;
    resize:none;
    width:auto;
  }

}

.skills label:has(input[type=checkbox]:checked) + .skill-content{
  max-height: 500px;
  padding:5px;
}

.skills label::before, .res-skill::before{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border:1px solid;
  border-radius:3px;

  font-family: 'Menlo', 'Monaco', 'Consolas', monospace;

  height:1em;
  width:1em;
  content:'/';

  color:var(--text-op);
  margin-right:1em;

  padding:3px;

}

.skills label::after{
  font-family: 'Material Icons';
  content: 'chevron_right';

  font-size:150%;

  transition-duration:.2s;

  color:var(--text-op);
}

.skills label:has(input[type="checkbox"]:checked)::after{
  transform:rotate(90deg);
}

.create-skill{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  border-radius: 5px;

  user-select: none;

  font-weight: bold;
  cursor:pointer;

  background:var(--text-op);
  color:var(--text-op-high);

  margin-bottom:2em;
  transition-duration: .2s;

  &:hover{
    color:var(--text);
    background:var(--text-op);
  }

  &::before{
    content:'add';
    font-family: Material Icons;
    margin-right:5px;
    font-size:150%;
  }
}


.prompt-wrap .send-btn{
  background:var(--accent);
  border-radius: 50%;
  font-family: 'Material Icons';
  font-size:125%;
  cursor:pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width:1.6em;
  height:1.6em;

  color:black;

  &.empty{
    opacity:.8;
    background:var(--text-op);
    color:var(--text-op);
    cursor:auto;
  }
}

.prompt-wrap .toolbox{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 1rem;
  gap:.5em;
}

.prompt-wrap .toolbox .add-btn{
  margin-left: 1rem;
  font-size: 150%;
  color:var(--text-op);
  margin-right: auto;
  font-family: Material Icons;
  user-select: none;
  cursor:pointer;
}

.prompt-wrap #prompt{
  padding:1rem;
  overflow:scroll;
  width:calc(100% - 2rem);

  caret-color: var(--accent);

  &::selection {
    background: var(--accent-op-30);
  }
}

.prompt-wrap {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  width:100%;
}

.prompt-wrap.wide, .prompt-wrap:has(.ctx-card){
  display: block;

  .toolbox{
    padding-bottom:1em;
  }
}


.assist {
  --dim: 30px;
  --pad: 8px;

  font-family: Material Icons;
  border: 1px solid var(--text-op-low);
  height: var(--dim);
  width: var(--dim);
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration:.2s;
  cursor:pointer;

  &:hover{
    transform:scale(1.1);

    &::after{
      animation: rotate-border 2s linear infinite;
    }
  }
}

.assist::after {
  content: "";
  
  height:calc(var(--dim) - var(--pad));
  width:calc(var(--dim) - var(--pad));

  border: 2px dotted var(--text-op);
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;

  animation: rotate-border 3s linear infinite;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}



#prompt {
  max-height:20vh;
}

[contenteditable][data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--text-op);
  pointer-events: none;
  cursor: text;
  display: block;
}

mark {
  color:var(--accent);
  font-weight: bold;
  background: transparent;
}

.prompt-area{
  position:fixed;
  bottom:1em;
  left:0;
  width:calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 1rem;
}

.msgs {
  height:calc(70vh - 2em);
  padding-bottom:30vh;
  overflow:scroll;
  width:100%;
}

.msg-user {
  position: relative;
  background: linear-gradient(var(--accent-op-50), var(--accent-op-30));
  padding: 8px 15px;
  border-radius: 1rem;
  display: block;
  width: fit-content;
  max-width: 70%;
  margin: 5px 0 5px auto;
  white-space: pre-wrap;
  overflow: scroll;
  overflow: hidden;

  animation: msgUserAppear 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes msgUserAppear {
  from {
    opacity:0;
    transform: translateY(100vh) scale(3);
  }
  to {
    opacity:1;
    transform: translateY(0) scale(1);
  }
}


.suggestions{
  background:var(--high-bg);
  width:calc(100% - 3rem);
  margin-left:auto;
  margin-right:auto;

  border-radius: 5px 5px 0 0;
  overflow: scroll;
  max-height: 200px;

  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;

  span {
    text-decoration: none;
    border-radius: 5px;
    padding:5px 5px;
    display: block;
    user-select: none;
    cursor:pointer;
    overflow: scroll;
    overflow: hidden;

    &:hover{
      background:var(--current-op-10);
    }

    &.active{
      background:var(--current-op-10);
      color:var(--accent);
    }

  }
}


.prompt-area .suggestions {
  display: none;
}

.prompt-area:focus-within .suggestions {
  display: block;
}


span.tab-results {
  display: flex;
  align-items: center;
  gap: 1em;

  img {
    height: 1.2em;
    width: 1.2em;
    user-select: none;
    display: block;
  }

  a {
    font-size: 80%;
    color: var(--text-op-high);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 100%;
  }
}

.ctx-cards {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:has(.ctx-card){
    padding-left: 15px;
    padding-top: 15px;
  }
}

.ctx-card{
  flex: 0 0 auto;
  height:40px;
  width:150px;
  background:var(--text-op);
  border-radius: 1rem;
  cursor:pointer;
  overflow: scroll;
  padding:8px;
  overflow:hidden;
  display: inline-flex;
  margin-right:10px;

  img {
    display: block;
    height: 100%;
    width: 16px;
    margin: auto 0;
    background: var(--bg);
    border-radius: 8px;
    object-fit: contain;
    align-self: center;
    padding:0 10px;
  }

  div {
    margin-top:auto;
    margin-bottom:auto;
    width:100%;
    padding-left:5px;
    gap:5px;

    overflow: hidden;
    white-space: nowrap;
  }

  a, span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:90%;
  }

  a {
    color:var(--current-op-50);
    font-size: 80%;
    font-weight: 500;
    margin-top:5px;
  }
}

.ctx-card.active-tab {
  order: -1 !important;
  background: color-mix(in srgb, var(--accent) 5%, var(--text-op) 95%);
}

.ctx-cards.msgPrev{
  position:relative;

  &:has(.ctx-card){
    height:100px;
  }

  &:hover:has(.ctx-card:nth-child(2)){
    height:auto;
    padding-top:60px;
    .ctx-card{
      position:static;
      transform:none;
    }
  }


  .ctx-card{
    position: absolute;
    right:0;
    bottom: 0;

    background: var(--high-bg);
    box-shadow: 0 2px 6px 0 var(--current-op-10);


    --spread:calc(90deg / var(--n));

    transform: rotate(calc(var(--spread) * var(--idx)));
    z-index:calc(var(--n) - var(--idx));
  }
}

.ctx-cards.msgPrev .ctx-card .after{
  display: none;
}


.ctx-cards:not(.msgPrev) {
  .ctx-card:hover, .ctx-card.active-tab{
    position:relative;
    overflow: visible;

    .after{
      display: block;
    }

    .after::after{
      content:'close';
      font-family: Material Icons;
      position:absolute;
      top:-.25em;
      right:-.25em;
      background:var(--text-op);
      border-radius: 50%;

      font-style: normal;

      height:1em;
      width: 1em;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

mjx-container {
  pointer-events: none;
}